
    /* CSS nền hiển thị Modal */
    /*.btn {*/
    /*    width: 150px;*/
    /*    height: 50px;*/
    /*    background-color: #0a47a9;*/
    /*    display:block;*/
    /*}*/

/* CSS bảng nội dung Modal */
.nenmodal .ndmodal {
     position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    background:#fff;
    width:600px;
    z-index:2;
    text-align:center;
    padding:20px;
    box-sizing:border-box;
    font-family:"Open Sans",sans-serif;
    border-radius:20px;
    display: block;
    position: fixed;
    box-shadow:0px 0px 10px #111;
}
@media (max-width: 700px) {
    .nenmodal .ndmodal {width:90%;}
}
/* CSS bao bọc của nút tắt Modal */
.nenmodal .closemodal {
    text-align:center;
    margin-top:-40px;
    margin-bottom:10px;
}
/* CSS tieu de của Modal */
.titlemodal{
    font-weight:bold;
    font-size:20px;
    margin-bottom:10px;
}
/* CSS nút tắt modal */
.closemodal button{
    width:60px;
    height:40px;
    font-size:30px;
    padding:0px;
    border-radius:100%;
    background:#333;
    color:#fff;
    border:none;
}
.nenmodal.active .nenmodal2 {
    display:block;
}
/* CSS hiệu ứng hiển thị Modal */
.nenmodal.active .ndmodal {
    transition:all 300ms ease-in-out;
    transform:translate(-50%,-50%) scale(1);
}
.col {
   padding-left: 5px;
    padding-right: 5px;

}

.inputDate{
    width: 400px;
    height: 30px;
    margin-left: 5px;
    margin-right: 3px;



}
.group {
   padding: 10px;
    display: flex;

}
.

.contactForm .label1 {
    color: #000;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600; }
.inpri{
    width: 400px;
    height: 30px;
    margin-left: 45px;
}
.btncreate{
    margin-left: 450px;
}
.btnblock{
    width: 100px;
    height: 35px;
    background-color: black;
    color: #f1f1f1;
    border-radius: 3px;
}
    #issuerName {
    width: 350px;
        height: 30px;




}
 #button-container-table .btn{
     background-color: #0b51c5;
 }

.fa{
    cursor: pointer;
}
    .labelDate {margin-left: 20px;
    }
    #datepicker{width:150px;}
    #datepicker > span:hover{cursor: pointer;}


    .disabled {
        background-color: #ddd;
        color: #888;
    }

    .rowKey {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column; /* Mỗi row là một cột dọc */
    }

    .colKey {
        width: 100%;
        box-sizing: border-box;
        padding: 5px; /* Thêm padding theo ý muốn */

        margin-bottom: 5px; /* Thêm khoảng cách giữa các group nếu cần */
    }

    .label1 {

        margin-bottom: 5px;
    }

    .inputframe {
        width: 430px;
        height: 30px;
        box-sizing: border-box;
        padding: 5px; /* Thêm padding theo ý muốn */
        margin-bottom: 5px;
    }

